{% extends "layout.html" %}
{% load i18n %}

{% block content %}

<div class="auth">
    <div class="mumble-block__preview">
    
        <div style="background-color: #fff; border: 1px solid #ddd; border-radius: 8px; padding: 20px; margin-bottom: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">

        {% for emp in object  %}
        {% if emp.status == 'approved' %}
        {{ emp.employee }}
        {{ emp.date_joined}}
        <form method="POST" action="{% url "end_employment" emp.id %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn--main--outline">{% trans "End" %}</button>
        </form>
       
        
        {% endif %}
        
        {% endfor %}
        
    </div>
        
        
    </div>
    </div>


{% endblock content %}


