{% extends "layout.html" %}
<!DOCTYPE html>
{% load i18n %}

{% block content %}
<body>

  <div class="auth">
    

    <div class="card">

      <div class="auth__header text-center">
        <a href="/">
          
        </a>
        <h3>{% trans "Reset Password" %}</h3>
      </div>

      <form action="{% url 'reset_password' %}" class="form auth__form" method = 'POST'>
        {% csrf_token %}
        <!-- Input:Email -->
        <div class="form__field">
          <label for="formInput#text">{% trans "Email" %}: </label>
          <input class="input input--text" id="formInput#text" type="text" name="email"
            placeholder="Enter your email..." />
        </div>
        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Send Code" />
        </div>
      </form>
    </div>
  </div>

</body>

{% endblock content %}

